{% extends "userTemplates.html" %}
{% comment %} {% load filter %} {% endcomment %}


{% block title %} Doctor Blog {% endblock title %} 

{% block body %}

<div class="">
    <div class="container">
        <div>

        </div>
        {% if data %}
            {% for i in data %}
            <div class="col-4">
                <img src="/static/image/upload/{{i.blog_image}}" style="width: 30%;">
                <h1>{{i.title}}</h1>
                {% comment %} {%truncate_summary i.summary as summary%} {% endcomment %}
                <p>{{ summary}}</p>
                {% comment %} {% if i.summary|word_count > 15 %}
                    <p>{{ i.summary|slice_words:15 }}...</p>
                {% else %}
                    <p>{{i.summary}}</p>
                {% endif %} {% endcomment %}
                <p>{{i.content}}</p>
            </div>
            {% endfor %}
        {% endif %}
        </div>
  </div>


{% endblock body %}